
* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
#root {
   height: 100%;
}
:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

aside,
nav,
footer,
header,
section {
   display: block;
}

html,
body {
   height: 100%;
   min-width: 320px;
}

body {
   line-height: 1;
   font-family: "Roboto", sans-serif;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   color: #000000;
   font-size: 16px;
   margin: 0;
   background-color: #ffffff;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
   transition: all 0.3s ease 0s;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a {
   transition: all 0.3s ease 0s;
}
a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

.feedback-form {
   margin: 20px auto 0;
   width: 400px;

   &__title {
      margin: 0px 0px 40px 0px;
      font-size: 28px;
      font-weight: 700;
   }

   &__line {
      margin-bottom: 25px;
   }

   &__text-error {
      margin: 10px 0px 0px 0px;
      font-size: 13px;
      color: #D11A2A;
   }

   &__label {
      display: inline-block;
      margin: 0px 0px 13px 0px;
      font-size: 13px;
      color: #777E90;

      span {
         color: #D11A2A;
      }
   }

   &__input {
      padding: 0 20px;
      width: 100%;
      height: 56px;
      font-size: 14px;
      line-height: 56px;
      color: #23262F;
      background-color: #F4F5F6;
      border: 1px solid #F4F5F6;
      border-radius: 8px;
      transition: all 0.3s ease 0s;

      &:focus {
         border-color: #cecece;
      }
   }

   &__textarea {
      padding: 10px 20px;
      width: 100%;
      min-height: 150px;
      font-size: 14px;
      color: #23262F;
      background-color: #F4F5F6;
      border: 1px solid #F4F5F6;
      border-radius: 8px;
      transition: all 0.3s ease 0s;

      &:focus {
         border-color: #cecece;
      }
   }

   &__button {
      width: 100%;
      max-width: 397px;
      height: 56px;
      display: inline-block;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      line-height: 56px;
      text-align: center;
      background-color: #D11A2A;
      border-radius: 12px;
      cursor: pointer;
      box-shadow: 0px 20px 25px rgba(209, 26, 42, 0.15);
      transition: all 0.3s ease 0s;

      &:hover {
         background-color: #E02535;
         box-shadow: 0px 20px 25px rgba(209, 26, 42, 0.15);
      }

      &:active {
         box-shadow: none;
      }

      &:disabled {
         background-color: #B8BABF;
         box-shadow: none;
         cursor: not-allowed;
      }
   }

   &__preloader {
      width: 20px;
      height: 20px;
   }

   &__success {
      margin: 30px 0px 0px 0px;
      width: 100%;
      padding: 20px;
      font-size: 22px;
      color: #D11A2A;
      background-color: #F4F5F6;
      border-left: 3px solid #D11A2A;
   }
}
